html, body {
  background: #ddd;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Signika";
}

header {
  padding: 20px;
  background: #1F5EA6;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  background: #f5f5f5;
  padding: 20px;
  box-sizing: margin-box;
  font-weight: 300;
  margin-bottom: 10px;
}

label {
  width: 20%;
  display: inline-block;
  text-align: right;
  margin-right: 2%;
}
input, textarea {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Signika";
  font-weight: 300;
  font-size: 15px;
}
#widget-id {
  display: inline-block;
}

textarea{
  height: 100px;
}

ul#widgets {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#widgets li {
  float: left;
  margin: 0;
  padding: 0;
  width: 22%;
  margin-right: 1%;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: margin-box;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-bottom-width: 3px;
  color: #333;
}

.button, input[type=submit] {
  width: 24%;
  background: #4281C9;
  border: 1px solid #2F70BA;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: margin-box;
  cursor: pointer;
  display: inline-block;
  text-align: left;
}

.button:hover, input[type=submit]:hover {
  opacity: 0.8;
}

.button.red {
  background: #BD3131;
  border-color: #8a0000;
}

.clearfix:after{
  clear:both;
  content:".";
  display:block;
  font-size:0;
  height:0;
  line-height:0;
  visibility:hidden;
}

